<h1> Welcome to <%= @user.email %>'s Profile.</h1>
<ul>
  <% @items.each do |item| %>
    <li id="item-<%= item.id %>">
      <%= item.name %>
      <%= link_to "", user_item_path(@user.id, item.id), method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
      <%= distance_of_time_in_words(Time.now, item.created_at + 7.days) %>
    </li>
  <% end %>
</ul>
<%= form_for [ current_user, Item.new ] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter Item Name" %>
  </div>
    <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>
